<html>

<head>
	<script type="text/javascript" src="jq.min.js"></script>

	<script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>

	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">

	<link rel="stylesheet" type="text/css" href="style.css">

</head>

<body>

	<nav class="navbar nav">
		 	<div class="container-fluid nav-container">
		
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			    </div>

			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">

			    <ul class="nav navbar-nav navbar-center">
			        <li><a href="/" class="dropdown-toggle">Home</a></li>
			      </ul>
			      <ul class="nav navbar-nav navbar-center">
			        <li><a href="/statement" class="dropdown-toggle">Statement</a></li>
			      </ul>
			      <ul class="nav navbar-nav">
			        <li class="dropdown text-center">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Galleries <span class="caret"></span></a>
			          <ul class="dropdown-menu" role="menu">
			            <li><a href="/galleryFull">Full</a></li>
			            <li class="divider"></li>
			            <li><a href="/galleryComission">Comissions</a></li>
			            <li class="divider"></li>
			            <li><a href="/galleryPersonal">Personal</a></li>
			          </ul>
			        </li>
			      </ul>
			      <ul class="nav navbar-nav navbar-center">
			        <li><a href="/contact" class="dropdown-toggle">Contact</a></li>
			      </ul>
			      
			    </div>
			</div>
		</nav>
	<h1 class="text-center">NickLeoneArt@gmail.com</h1>



	<div class="social text-center">
		<a class="social-link" href="https://www.facebook.com/bananabread?fref=ts"><img src="img/facebook.png"></a>
		<a class="social-link" href="https://www.facebook.com/bananabread?fref=ts"><img src="img/insta.png"></a>
		<h4 class="text-center">Insta: yambells</h4>
	</div>
	<hr>
	<hr>
</body>

</html>