<html>
<head>
	<link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Josefin">
	<script type="text/javascript" src="jq.min.js"></script>

	<script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>

		<link rel="stylesheet" type="text/css" href="foto/fotorama.css">
		<script type="text/javascript" src="foto/fotorama.js"></script>

	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">

	<link rel="stylesheet" type="text/css" href="style.css">
</head>

	<body>

		<nav class="navbar nav">
		 	<div class="container-fluid nav-container">
		
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			    </div>

			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">

			    <ul class="nav navbar-nav navbar-center">
			        <li><a href="/" class="dropdown-toggle">Home</a></li>
			      </ul>
			      <ul class="nav navbar-nav navbar-center">
			        <li><a href="/statement" class="dropdown-toggle">Statement</a></li>
			      </ul>
			      <ul class="nav navbar-nav">
			        <li class="dropdown text-center">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Galleries <span class="caret"></span></a>
			          <ul class="dropdown-menu" role="menu">
			            <li><a href="/galleryFull">Full</a></li>
			            <li class="divider"></li>
			            <li><a href="/galleryComission">Comissions</a></li>
			            <li class="divider"></li>
			            <li><a href="/galleryPersonal">Personal</a></li>
			          </ul>
			        </li>
			      </ul>
			      <ul class="nav navbar-nav navbar-center">
			        <li><a href="/contact" class="dropdown-toggle">Contact</a></li>
			      </ul>
			      
			    </div>
			</div>
		</nav>

		<div class="row frame">
			<div class="fotorama"
			data-width="100%"
			data-height="70%"
			data-nav="thumbs"
			data-allowfullscreen="true">
				<img src="img/comissions/1.jpg" data-caption="'Alejandra' in graphite and charcoal, 12in x 16in"/>
				<img src="img/comissions/2.jpg" data-caption="'Gisele' in pastels, 10in x 10in"/>
				<img src="img/comissions/3.jpg" data-caption="'Lucy' in black and grey pastels, 12in x 12in"/>
				<img src="img/comissions/4.jpg" data-caption="'Crop of 'Anne-Sophie #1' in pastels, 36in x 48in"/>
				<img src="img/comissions/5.jpg" data-caption="'Papa Lalo' in pastels, 36in x 48in"/>
				<img src="img/comissions/6.jpg" data-caption="Crop of 'Darby #1' in graphite and charcoal, 12in x 16in"/>
				<img src="img/comissions/7.jpg" data-caption="'Natalie' in pastels, 12in x 12in"/>
				<img src="img/comissions/8.jpg" data-caption="'Raquel #1' in pastels, 24in x 36in"/>
				<img src="img/comissions/9.jpg" data-caption="'Taylor #1' in mixed media, 18in x 24in"/>
				<img src="img/comissions/10.jpg" data-caption="'Gracie' in mixed media, 16in x 12in"/>
			</div>
		</div>

		<hr>
		<hr>
		
		<div class="centerMe">
			<h2 class="text-center">Contact</h2>
			<a href="/contact" class="centerMe"><img class="plz" src="img/card.jpg"></a>
		</div>

		<hr>
		<div class="social text-center">
			<h2 class="text-center">Social</h2>
			<a class="social-link" href="https://www.facebook.com/bananabread?fref=ts"><img src="img/facebook.png"></a>
			<a class="social-link" href="https://www.facebook.com/bananabread?fref=ts"><img src="img/insta.png"></a>
			<h4 class="text-center">Insta: yambells</h4>
		</div>
		</body>
		</html>