<html>

	<head>
	<script type="text/javascript" src="jq.min.js"></script>

	<script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>

	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">

	<link rel="stylesheet" type="text/css" href="style.css">
</head>

	<body>
		<nav class="navbar nav">
		 	<div class="container-fluid nav-container">
		
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			    </div>

			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">

			    <ul class="nav navbar-nav navbar-center">
			        <li><a href="/" class="dropdown-toggle">Home</a></li>
			      </ul>
			      <ul class="nav navbar-nav navbar-center">
			        <li><a href="/statement" class="dropdown-toggle">Statement</a></li>
			      </ul>
			      <ul class="nav navbar-nav">
			        <li class="dropdown text-center">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Galleries <span class="caret"></span></a>
			          <ul class="dropdown-menu" role="menu">
			            <li><a href="/galleryFull">Full</a></li>
			            <li class="divider"></li>
			            <li><a href="/galleryComission">Comissions</a></li>
			            <li class="divider"></li>
			            <li><a href="/galleryPersonal">Personal</a></li>
			          </ul>
			        </li>
			      </ul>
			      <ul class="nav navbar-nav navbar-center">
			        <li><a href="/contact" class="dropdown-toggle">Contact</a></li>
			      </ul>
			      
			    </div>
			</div>
		</nav>
		<h2 class="text-center">Artist Statement</h2>
		<div class="row centerMe">
		<p class="statement">
			My work seeks to explore the contemporary female portrait through classical realism. Equally important is my relationship to the subjects, who are all chosen from my personal life. Above all I am inspired by the beauty of the natural female form, and the personalities behind the faces captured. The highest aim of my career is to help return technical, creative, and accurate realism to the central canon of Western fine art.<br><br>

      Taken individually, the pieces are tribute and documentation of the subject, but as a whole they are a portrait of my own life. I prefer to capture my subject in their most beautiful state, without being dishonest. My primary goal with each piece is to portray a likeness and expression that is honest, intimate, and iconic to my model. To enhance the intimacy of the work I keep my compositions minimal and focused.  	<br><br>

      My primary mediums are oil paints, soft pastels and charcoal, on various types of paper. My style is based around Renaissance ideals of accurate observation and idealized beauty, joining the real with the divine. This is combined with an influence from Post-Impressionism, seen through bright, saturated colors, partially abstracted forms and expressionist backgrounds. I am most inspired by the works of Vincent Van Gogh, John Singer Sargent, Rembrandt, and Diego Velasquez.

		</p>
		</div>

		<hr>

		<div class="centerMe">
			<h2 class="text-center">Contact</h2>
			<a href="/contact" class="centerMe"><img class="plz" src="img/card.jpg"></a>
		</div>

		<hr>
		<div class="social text-center centerMe">
			<h2 class="text-center">Social</h2>
			<a class="social-link" href="https://www.facebook.com/bananabread?fref=ts"><img src="img/facebook.png"></a>
			<a class="social-link" href="https://www.facebook.com/bananabread?fref=ts"><img src="img/insta.png"></a>
			<h4 class="text-center">Insta: yambells</h4>
		</div>

	</body>
</html>